body { 
    margin: 0px;
    height: 100%;
}

a {
    text-decoration: none;
}

.nav-bar {
    height:50px;
    width: 100%;
    background-color: #a6beff;
}

.flex-container {
    display: flex;
    align-items: stretch;
    background-color: White;
    width: 85%;
    height: 150px;
    padding: 10px;
    border: 2px solid #e8e7e7;
    border-radius: 5px;
    margin: 30px auto;
}

.flex-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #add6ef;;
}

.flex-container > div {
    background-color: #68f57e;
    color: white;
    width: 100px;
    margin: auto 10px auto 10px;
    text-align: center;
    height: 70%;
    font-size: 25px;
}

.nav-bar * {
    font-size: 15px;
    font-family: Montserrat, Arial
}

.row-flex {              /*set parent block flexible*/
    display: flex;
    align-items: center;
}

.row-flex::after {       /*clear floats after columns*/
    content: "";
    display: table;
    clear: both;
}

.left-group {
    margin-left: 20px;
    flex-grow: 1;
}

.right-group {
    margin-right: 20px;
    flex-grow: 1;
    text-align: right;
}

.login-btn {
    display: inline-flex;
    background: transparent;
    border: #89b58e 2px solid;
    border-radius: 8px;
    cursor: pointer;
}

.login-btn span {
    margin: auto 10px;
}

.user-icon {
    background: #b0ffe6;
    border-radius: 50%;
}

.account-popup {
    visibility: hidden;
    width: 150px;
    height: auto;
    padding: 10px;
    background: #e4f5f0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border: 1pt solid #bba9a9;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    top: 55px;
    right: 6px;
}

.main {
    height: 100%;
    margin:auto 20px auto 20px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-column::after {       /*clear floats after columns*/
    content: "";
    display: table;
    clear: both;
}

.account-btn {
    background-color: #fff9f4;
}
.login-btn:hover, account-btn:hover {
    background-color: #f5ca78;
}
.login-btn a {
    width: auto;
    margin: auto;
    padding: 5px;
}